*,
*:before,
*:after {
-webkit-box-sizing: inherit;
box-sizing: inherit;
}
html {
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
font-size: 1.6rem;
font-weight: 700;
line-height: 1.5;
position: relative;
display: inline-block;
padding: 1rem 4rem;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-transition: all 0.3s;
transition: all 0.3s;
text-align: center;
vertical-align: middle;
text-decoration: none;
letter-spacing: 0.1em;
color: #212529;
border-radius: 0.5rem;
}

a.btn-flat {
overflow: hidden;

padding: 1.5rem 6rem;

color: #fff;
border-radius: 0;
background: #000;
}

a.btn-flat span {
position: relative;
}

a.btn-flat:before {
position: absolute;
top: 0;
left: 0;

width: 150%;
height: 500%;

content: "";
-webkit-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
-webkit-transform: translateX(-150%) translateY(-25%) rotate(45deg);
transform: translateX(-150%) translateY(-25%) rotate(45deg);

background: #00b7ee;
}

a.btn-flat:hover:before {
-webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
img {
    width: 300px;
    height: 5%;
    vertical-align: middle;
}

.list-container {
  height: 400px;
  width: 50%;
  overflow: auto;
}

.table-container {
  height: 400px;
  width: 45%;
  overflow: auto;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

table {
  border-collapse: collapse;
}

text-box{
    position: fixed;
    top:0;
    right:1000;
}

th, td {
  border: 1px solid black;
  width: 900px;
  height: 100px;
  padding: 8px;
}

#textbox-container {
    position: fixed;
    top: 150px;
    right:225px;
    width: 400px;
    height: 150px;
    border: 1px solid #000;
  }

  #my-textbox {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 200px;
    height: 30px;
  }

  .list {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid gray;
  }

  #myTable {
    position: absolute;
    border-collapse: collapse;
    top:300px;
  }

  #myTable td {
    position: relative;
    height: 75px;
    width :150px;
    border: 1px solid black;
    top:0px;
  }
